header{
    height: 75px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 9999;
}
nav{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
header ul{
    display: flex;
    color: white;
    gap: 40px;
    list-style-type: none;
    padding-inline-start:0;
}
header ul li > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#logo{
    font-size: 30px;
    text-decoration: green wavy underline;
}

#logo > a{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
}

@media (max-width: 510px) {
    header ul{
        gap: 20px;
    }
}