header{
    background-color: black;
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}
ul{
    color: white;
    display: flex;
    gap: 5vw;
    list-style-type: none;
}
li > a{
    font-size: 3vh;
    text-decoration: none;
    color: white;
}

#logo{
    text-decoration: green wavy underline;
    font-size: 5vh;
}