#home-content{
    margin-top: 75px;
    height: calc(100vh - 75px);
    background-image: url(../../../public/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    width: 100%;
    height: 75%;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content > div{
    width: 450px;
}
.category{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.category > img{
    height: 120%;
}
.categories-blocks a img{
    transition-duration: 1s;
}
.categories-blocks a:hover img:hover{
    transform: scale(1.08);
}


.category > span{
    color: white;
    font-size: 120px;
    position: absolute;
    font-family: Franklin Gothic Heavy, Helvetica, sans-serif; 
    z-index: 9998;
}


@media (min-width: 1680px){
    #content > div{
        width: 600px;
        font-size: 25px;
    }
    .category{
        width: 100%;
        height: 600px;
    }
    .category > img{
        width: 100%;
        height: auto;
    }
    .category > span{
        font-size: 150px;
    }
}
@media (max-width: 1400px) {
    .category{
        height: 450px;
    }
    .category > img{
        height: 115%;
        width: auto;
    }
}


@media (max-width: 1100px) {
    .category{
        height: 340px;
    }
    .category > img{
        height: 115%;
    }
    .category > span{
        font-size: 100px;
    }
}


@media (max-width: 768px) {

    #content{
        width: 100%;
    }
    #content > div{
        width: 90%;
    }

    .category{
        height: 250px;
    }
    .category > img{
        height: 110%;
    }
    .category > span{
        font-size: 60px;
    }
}

@media (max-width: 510px) {
    #content{
        width: 100%;
    }
    #content > div{
        width: 90%;
        font-size: 18px;
    }

    .category{
        height: 180px;
    }
    .category > img{
        height: 100%;
        
    }
    .category > span{
        font-size: 40px;
    }
}