#home-content{
    margin-top: 75px;

    height: calc(100vh - 75px);

    background-image: url(../../../public/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    width: 100%;
    height: 75%;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content > a > button{
    height: 50px;
    width: 150px;
}

#content > div{
    width: 450px;
}

.category{
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.category > img{
    height: 125%;
    transition-duration: 1s;
}

.category > img:hover{
    transform: scale(1.08);
}

.category > span{
    color: white;
    font-size: 100px;
    position: absolute;
    font-family: Franklin Gothic Heavy, Helvetica, sans-serif; 
    z-index: 9998;
}

@media (max-width: 1200px) {
    .category{
        height: 340px;
    }
    .category > img{
        height: 115%;
    }
    .category > span{
        font-size: 80px;
    }
}


@media (max-width: 768px) {

    #content{
        width: 100%;
    }
    #content > div{
        width: 90%;
    }

    .category{
        height: 250px;
    }
    .category > img{
        height: 110%;
    }
    .category > span{
        font-size: 60px;
    }
}

@media (max-width: 510px) {
    #content{
        width: 100%;
    }
    #content > div{
        width: 90%;
        font-size: 18px;
    }

    .category{
        height: 180px;
    }
    .category > img{
        height: 100%;
        
    }
    .category > span{
        font-size: 40px;
    }
}
